/* This is the css you need to make navbar work on mobile just like on tablet and up.
 * @see https://github.com/jgthms/bulma/issues/1445#issuecomment-345503099
 * @see https://github.com/jgthms/bulma/issues/1445#issuecomment-373873667
*/

.is-mobile.navbar .navbar-item {
    display: flex;
}
.is-mobile.navbar,
.is-mobile.navbar .navbar-menu,
.is-mobile.navbar .navbar-start,
.is-mobile.navbar .navbar-end {
    align-items: stretch;
    display: flex;
    padding: 0;
}

.is-mobile.navbar .navbar-menu{
    flex-grow: 1;
    flex-shrink: 0;
}
.is-mobile.navbar .navbar-start{
    justify-content: flex-start;
    margin-right: auto;
}
.is-mobile.navbar .navbar-end{
    justify-content: flex-end;
    margin-left: auto;
}

.is-mobile.navbar .navbar .container {
    display: flex;
}

.is-mobile.navbar  .navbar-item {
    display: flex;
    align-items: center;
}

/* add support for .navbar-end.is-centered */
.navbar-end.is-centered {
    justify-content: center;
    margin: auto;
}