.section.has-double-vertical-padding {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.navbar-item.has-double-horizontal-padding {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.is-horizontal-center {
  justify-content: center;
}

.image.is-256x256 {
  height: 256px;
  width: 256px;
}

.icon.is-medium .ionicon:before {
  font-size: 1.5em;
}

.icon.is-large .ionicon:before {
  font-size: 2.5em;
}

isotope-gallery {
  min-height: 768px;
}

isotope-item {
  margin-bottom: 8px;
}

image-overlay > * {
  margin: 1em;
}

.box {
  padding: 0;
}

.footer .made-width-bulma {
  margin-left: 0.5em;
  margin-right: 0.5em;
}