.navbar-item .icon *:hover {
    color: white;
}

.card {
    background: none;
    box-shadow: none;
}

/* adds IE11 and Edge compatibility */
isotope-filter {
    cursor: pointer;
    opacity: 1.0;
}
isotope-filter:hover {
    opacity: 0.8;
}
isotope-filter[checked] {
    opacity: 0.6;
}